#tempo{
	font-size: 8em;
	line-height: 100px;
}
.total-pontos{
	font-size: 15em;
	line-height: 200px;
}
.pontuacao{
	font-size: 10em;
}
.pontuacao-2{
	font-size: 4em;
}
.label-pontos{
	font-size: 2em;
	padding: 0px 15px;
}
.pontuacao-group{
	line-height: 100px;
}
.punicao-title{

	line-height: 10px;
}


input{
	text-transform: uppercase;
}
